<h1>Minesweeper Duel</h1>

<%= form_for @conn, Routes.minesweeper_path(@conn, :create), fn f -> %>
  <label>
    Your name
    <%= text_input f, :host %>
  </label>
  <%= submit "Create game" %>
<% end %>
